.star {
    display: flex;
  }
  
.align{
    display:flex;
}
.fa-star.yellow {
    color: yellow;
}
#cal{
font-size: 9px;
  padding: 0px 0px;
  text-align: center;
  cursor: pointer;
  margin-top:auto;
  padding:auto;
  display: inline-block;
  border: 2px solid rgb(30, 30, 30);
  text-decoration: none;
  margin: 0px 0px;
  
}
.button{
  background-color: pink;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom:auto;
}
#cal{
  background-color: lightcyan;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  background-color:pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0.8, 0.8);
  border-radius:10%;
}
